<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.q.pocketmusic">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".config.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ico_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.q.pocketmusic.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".module.common.TestModuleActivity" />
        <activity android:name=".module.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="pocket.music.home.activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.net.type.SongTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.song.SongActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".service.music.MediaPlayerService" />

        <activity
            android:name=".module.home.net.type.community.share.publish.ShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".module.user.login.LoginActivity" />
        <activity android:name=".module.user.register.RegisterActivity" />
        <activity android:name=".module.home.net.type.community.ask.publish.PublishAskActivity" />
        <activity
            android:name=".module.home.net.type.community.ask.comment.AskSongCommentActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".module.user.notify.suggestion.SuggestionActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".module.home.profile.setting.SettingActivity" />
        <activity android:name=".module.home.profile.collection.UserCollectionActivity" />
        <activity android:name=".module.user.notify.help.HelpActivity">
            <intent-filter>
                <action android:name="help_activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.home.profile.contribution.ContributionActivity" />
        <activity
            android:name=".module.home.local.lead.LeadSongActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".module.user.forget.ForgetActivity" />
        <activity
            android:name=".module.home.convert.comment.convert.ConvertActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".module.home.profile.post.UserPostActivity" />
        <activity android:name=".module.home.profile.share.UserShareActivity" />
        <activity android:name=".module.user.notify.UserNotifyActivity" />

        <service
            android:name=".util.common.update.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".module.home.profile.support.SupportActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".module.user.notify.version.PreviewVersionActivity" />
        <activity android:name=".module.home.net.special.SpecialColumnActivity" />
        <activity android:name=".module.user.other.OtherProfileActivity" />
        <activity android:name=".module.home.net.type.study.StudyActivity" />
        <activity android:name=".module.home.net.special.list.SpecialListActivity" />
        <activity android:name=".module.user.notify.gift.GiftActivity" />
        <activity android:name=".module.home.convert.comment.ConvertCommentActivity" />
        <activity android:name=".module.home.convert.publish.PublishConvertActivity" />
        <activity android:name=".module.home.profile.convert.ProfileConvertActivity" />
        <activity android:name=".module.home.profile.convert.post.ProfileConvertPostActivity" />
    </application>

</manifest>